.card.card-nav-tabs.card-plain
  .header.header-info
    / colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger"
    .nav-tabs-navigation
      .nav-tabs-wrapper
        %ul.nav.nav-tabs{"data-tabs" => "tabs"}
          %li{ class: (controller_name == "accounts") ? "active" : ""}
            =link_to staff_accounts_path do
              %i.material-icons account_circle
              Parents
          %li{ class: (controller_name == "scheduled_children") ? "active" : ""}
            =link_to staff_scheduled_children_path do
              %i.material-icons face
              Scheduled Children
          %li{ class: (controller_name == "staff") ? "active" : ""}
            =link_to staff_staff_index_path do
              %i.material-icons accessibility
              Staff
          %li{ class: (controller_name == "dashboard") ? "active" : ""}
            =link_to staff_dashboard_path do
              %i.material-icons done
              Attendance
          %li{ class: (controller_name == "time_disputes") ? "active" : ""}
            =link_to new_staff_time_dispute_path do
              %i.material-icons thumbs_up_down
              Time Disputes
          %li{ class: (controller_name == "transactions") ? "active" : ""}
            =link_to staff_transactions_path do
              %i.material-icons credit_card
              Payments
