.card.card-nav-tabs.card-plain
  .header.header-info
    / colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger"
    .nav-tabs-navigation
      .nav-tabs-wrapper
        %ul.nav.nav-tabs{"data-tabs" => "tabs"}
          %li{ class: (step == :parents) ? "active" : ""}
            =link_to staff_dashboard_path do
              %i.material-icons bookmark
              Administrator Account Home
          %li{ class: (controller_name == "accounts") ? "active" : ""}
            =link_to staff_accounts_path do
              %i.material-icons account_circle
              Parents
          %li{ class: (step == :summary) ? "active" : ""}
            =link_to staff_dashboard_path do
              %i.material-icons done
              Attendance
          %li{ class: (step == :payment) ? "active" : ""}
            =link_to new_staff_time_dispute_path do
              %i.material-icons thumbs_up_down
              Time Disputes
