.row
  .col-md-4.col-sm-5.col-md-offset-2.col-sm-offset-1.text-center
    %h2
      Staff
    = link_to "Clock in / out", staff_attendance_display_index_path, class: "btn btn-primary btn-lg btn-block"

  .col-md-4.col-sm-5.text-center
    %h2
      Children
    = link_to "Check in / out", children_attendance_display_index_path, data: { no_turbolink: true }, class: "btn btn-warning btn-lg btn-block"

- if policy(TimeEntry).ratio_report?
  .row
    .col-md-4.col-sm-5.col-md-offset-4.col-sm-offset-3.text-center
      = link_to "Teacher / Child Ratio Reports", ratio_report_staff_time_entries_path, class: "btn btn-info btn-lg btn-block"
