%h3.text-center Payment Receipt
%h4.text-center #{@transaction.refund? ? "Refund from" : "Paid to"} Davis Kids Klub on #{@transaction.created_at.stamp("Monday, Aug. 20th, 2018 ")}
%h4.text-center EIN: 03-0451515
%h4.text-center 1520 E Covell Blvd Ste 5 PO Box 323, Davis CA 95618
%hr

= render "payment_info", transactions: [@transaction]

%h4.text-center{style: "color: #ef6240; padding-top: 40px;"} If you need a signed copy of your receipt, please contact the DKK Office at office@daviskidsklub.com

= link_to "Back to Payments", account_dashboard_payments_path(@account), class: "btn"
