%h3.text-center
  Parents
%br
- if @accounts.any?

  .row
    .col-xs-2.admin-title
      Primary Parent
    .col-xs-3.admin-title
      Email
    .col-xs-4.admin-title
      Children
    .col-xs-2.admin-title
      Location
    .col-xs-1.admin-title
      Created
    %br.cleaner
    %hr

    - @accounts.each do |a|
      .col-xs-2.admin-parents
        =a.primary_parent.full_name if a.primary_parent.present?
      .col-xs-3.admin-parents
        =a.user.email if a.user.present?
      .col-xs-4.admin-parents
        =a.children.collect {|c| c.full_name }.to_sentence
      .col-xs-2.admin-parents
        =a.location.name if a.location.present?
      .col-xs-1.admin-parents
        =a.created_at.stamp("11/05/2017 12:56:27pm").in_time_zone("Pacific Time (US & Canada)")
      %br.cleaner
      %hr


  .text-center
    = paginate @accounts
