- @center.programs.open_for_registration.order_by_priority.each do |program|
  - next if program.plan_types.empty?
  .col-xs-12
    %h3.text-center
      = program.name

  .col-xs-12
    #attendance-selection-chooser
      - if program.available_locations.any?
        - type_width = (12 / program.plan_types.count).to_i
        - program.plan_types.each do |plan_type|
          .text-center{class: "col-xs-#{type_width}"}
            = link_to plan_type.text, plan_selection_path(plan_type, @account, program, defined?(target_action) ? target_action : "new"), class: "btn btn-lg btn-block btn-info btn-fat"
      - else
        %h3.text-center Unfortunately, there are no locations currently available. Please contact the office to be put on the waitlist.
