= render "account/steps/step_navigation"

.well
  - if @account.drop_ins.any?
    You previously chose to register as a drop-in. If you choose a monthly plan instead, your drop-in selections will be reset.
  - else
    You previously chose a monthly plan. If you choose to register for a drop-in plan instead, your monthly selections will be reset.


#attendance-selection-chooser
  = link_to "Monthly", edit_account_attendance_selection_path(@account), class: "btn btn-lg"
  = link_to "Drop In", new_account_drop_ins_path(@account), class: "btn btn-lg"



