.col-md-10.col-md-offset-1.col-xs-12
  %h2.text-center
    Transitional Kindergarten & Kindergarten Recreational Playtime at Pioneer Elementary for #{@program.name}

  %h3.text-center
    Pioneer Elementary is hosting activities for students of all ages before school, as well as activities for Transitional Kindergarten & Kindergarten students after school. Choose the option that works best for your child!

  = render "full_day_contract_form", target_method: defined?(target_method) ? target_method : "POST"
