.col-md-10.col-md-offset-1.col-xs-12
  %h2.text-center
    Recreational Playtime at Davis Kids Klub for #{@program.name}

  %h3.text-center
    Davis Kids Klub is hosting activities for students before school and after school. Choose the option that works best for your child!

  = render "full_day_contract_form", target_method: defined?(target_method) ? target_method : "POST"
