%h4.text-center All parents are enrolled for auto-pay. It will automatically charge your account on the FIRST of EACH MONTH for the upcoming month. Please rest assured that DKK will respect your privacy and does NOT store any of your credit card information.

= f.hidden_field :payment_offset, value: 0
