- if @enrollments.any?
  .col-xs-12
    .account-box
      %ul
      - @enrollments.each do |enrollment|
        %li
          = enrollment.to_s
          .pull-right
            = enrollment.plan.price
