// Place all the styles related to the TimeDisputes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
  background-color: #f3f3f3

.cleaner
  clear: both
  height: 1px
  font-size: 1px
  border: none
  margin: 0
  padding: 0
  background: transparent
  line-height: 1px

.login-box
  background-color: #fff
  border: 1px solid #ddd
  padding: 15px 25px 25px
  border-radius: 5px

.min-length
  font: 10px 'Roboto', sans-serif
  color: #777

.container-dkk

.container
  width: 95%

.layout-row
  box-sizing: border-box
  display: -webkit-box
  display: -webkit-flex
  display: flex
  -webkit-box-direction: normal
  -webkit-box-orient: horizontal
  -webkit-flex-direction: row
  flex-direction: row

.centered
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-grid-row-align: center
  align-items: center
  -webkit-align-content: center
  align-content: center
  -webkit-box-pack: center
  -webkit-justify-content: center
  justify-content: center

.numInputWrapper
  span
    &.arrowUp
      opacity: 100 !important

    &.arrowDown
      opacity: 100 !important

.logo-dkk
  text-align: center
  with: 100%
  padding: 50px 0 0

.alert
  background: none !important
.alert-warning
  background-color: #ff9e0f !important


li, ul
  list-decoration: none !important

textarea, .text_field
  border-radius: 3px
  width: 100%
  border: 1px solid #ddd
  padding: 10px

.material-icons
  margin-left: 8px

h5
  color: #7b68ab
  font-weight: 300
  margin: 20px 0 15px
h7
  font: 12px 'Open Sans', sans-serif
  text-transform: uppercase
  font-weight: 400
  color: #7b67aa

.flatpickr-input
  width: 50%
  padding: 10px
  border: 1px solid #bbb
  margin: 4px 0

.dropin-name
  font: 24px 'Roboto Slab', serif
  font-weight: 600
  color: #000
  margin: 0 0 20px
  letter-spacing: -1px

.dropin
  border: 1px solid #ddd
  border-radius: 5px
  padding: 30px 50px
  text-align: center
  margin: 30px 0
  background-color: #fcfcfc

.account-label
  font: 11px 'Open Sans', sans-serif
  text-transform: uppercase
  font-weight: 300
  line-height: 13px

.account-name
  font: 12px 'Open Sans', sans-serif
  font-weight: 600
  margin: 0 0 5px
  line-height: 13px
  color: #1d86c5

.account-row
  margin-bottom: 5px
  padding-bottom: 5px
  border-bottom: 1px dotted #ddd

.account-box
  border: 1px solid #ddd
  padding: 15px
  border-radius: 5px
  margin-bottom: 15px

.account-child
  font: 21px 'Roboto Slab', serif
  font-weight: 300
  color: #ef613f
  padding: 10px 0 20px
  border-top: 1px dotted #ef613f
  margin: 20px 0

.account-header
  font: 21px 'Open Sans', sans-serif
  font-weight: 300
  color: #fff
  padding: 0 20px
  text-align: center

.btn
  font-size: 16px
  font-weight: 500

.btn-info
  background-color: #1d86c5 !important

.btn-danger, .nav-pills.nav-pills-rose > li.active > a
  background-color: #ef6240 !important

.parent-title
  margin: 25px 0 15px
  font-size: 24px
  color: #ef613f

.checkbox-padding
  width: 25px

.plan-box
  border: 1px solid #ddd
  border-radius: 5px
  margin: 0 0 15px
  padding: 15px

.checkbox label
  font-size: 14px
  color: #ef613f
  font-weight: 500
  text-align: center
  text-transform: uppercase

.checkbox
  border: 1px solid #ddd
  border-radius: 3px
  margin: 0 5px 5px
  padding: 5px 10px
  float: left

.checkin-box
  border: 1px solid #ddd
  border-radius: 3px
  margin: 0 10px 10px
  padding: 10px 15px
  float: left

.plan-title
  text-align: center

#time-entries
  li
    list-style: none
    margin: 10px 0

#time-entry-message
  text-align: center
  padding: 15px
  color: #ff5d31
  font: 18px 'Open Sans', sans-serif
  font-weight: 300

.checkin-name
  font: 16px 'Open Sans', sans-serif
  font-weight: 500
  color: #555
  padding: 7px 0
  border-bottom: 1px dotted #ddd
  margin: 7px 0

.form-group
  margin: 7px 0 0

.credit-cards img
  width: 200px
  float: left
  padding: 16px 0

.account-alert
  border: 1px solid #1d86c5
  border-radius: 3px
  padding: 15px
  margin: 10px 0

  h4
    font-weight: bold

  p
    .red
      color: red

    .green
      color: green

.admin-title
  color: #7b68ab
  font-size: 13px !important
  font-weight: 400 !important
  text-transform: uppercase
  overflow: hidden

.admin-parents
  font-size: 12px
  line-height: 13.5px
  overflow: hidden
  .btn
    margin: 0

.enrollments-table
  text-align: left

  tr
    &.total
      border-top: 2px solid black

  td, th
    padding: 10px

  td, th
    &.right-just
      text-align: right

.flatpickr-input
  width: 100% !important

table
  width: 100%
  border: none !important

  th
    border: none !important
    padding: 20px !important

  tr
    background: white !important

    td
      border: none !important
      border-top: solid #EEEEEE 1px !important
      padding: 20px !important
      vertical-align: top !important

  tr.merge-top
    td
      border-top: none !important

  td.merge-top
    border-top: none !important

  &.admin-table
    th
      color: #7b68ab
      font-size: 13px !important
      font-weight: 400 !important
      text-transform: uppercase
      overflow: hidden

.nav-tabs-wrapper
  ul.navbar-nav
    &.active
      background-color: #61C5D2 !important

    li
      a.dropdown-toggle
        padding: 10px
        color: white !important

        &:hover
          background-color: inherit !important

@media (max-width: 992px)
