// Place all the styles related to the TimeDisputes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box
  border: 1px solid #ddd
  padding: 15px 25px 25px
  border-radius: 5px

.min-length
  font: 10px 'Roboto', sans-serif
  color: #777