%div{style: "text-align: center;"}= image_tag ("logo.png")

%p Dear #{@account.primary_parent.full_name}

%p Unfortunately, there was an issue with your payment information, and your account could not be charged for your recurring payment plan. Please #{link_to "log in", root_url(@account)} and make a payment as soon as possible, as your child will be unable to attend the Davis Kids Klub until the balance has been paid. Please change your payment information #{link_to "here", account_dashboard_credit_card_url(@account)} (don't forget to log in first) if it is incorrect. Please contact the DKK Office for any questions, comments, or concerns at daviskidsklub@aol.com .
