%h1 Alert about your child
%p Hello from Davis Kids Klub!

%p
  This is to notify you that your student has
  %strong NOT
  been signed in at Davis Kids Klub (DKK) today within the 10 minute sign-in period after school dismisses.

%p
  Per contract (Waivers and Agreements), please remember that it is your responsibility to notify your site director if your child will be absent (see site phone numbers below).

%p
  %strong If you have already called in your student’s absence for today, please ignore this alert.

%p{style: "color: red; text-decoration: underline;"} IMPORTANT: If your student SHOULD be at DKK today, please call your School Site Director immediately:

%p
  Birch Lane
  %strong{style: "color: purple; text-decoration: underline;"} 530-304-4732
%p
  Cesar Chavez
  %strong{style: "color: purple; text-decoration: underline;"} 530-574-3768
%p
  Korematsu
  %strong{style: "color: purple; text-decoration: underline;"} 530-402-3416
%p
  Montgomery
  %strong{style: "color: purple; text-decoration: underline;"} 530-304-3544
%p
  North Davis
  %strong{style: "color: purple; text-decoration: underline;"} 530-219-6156
%p
  Patwin
  %strong{style: "color: purple; text-decoration: underline;"} 530-304-3548
%p
  Pioneer
  %strong{style: "color: purple; text-decoration: underline;"} 530-220-4736
%p
  Willett
  %strong{style: "color: purple; text-decoration: underline;"} 530-220-4735

%p
  %strong{style: "color: blue"} **Safety is our primary goal and we appreciate your diligence in reminding your student to check into DKK IMMEDIATELY after school dismisses.**
