%h1 Alert about your child
%p Hello from Davis Kids Klub!

%p Please be aware that your student has NOT signed into DKK today within the 10 minute sign in period.

%p If your student is supposed to be at DKK today, please call the Director of your school site:

%p Birch Lane 530-304-4732
%p Cesar Chavez 530-574-3768
%p Korematsu 530-402-3416
%p Montgomery 530-304-3544
%p North Davis 530-219-6156
%p Patwin 530-304-3548
%p Pioneer 530-220-4736
%p Willett 530-220-4735
