%h1 Alert about your child
%p
  Please be alerted that your student has not checked in with Davis Kids Klub after-school program.
  Please call the site director and confirm their absence.
%p
  Please note in the future to avoid unnecessary alerts please call your site phone and
  leave a message any day your student will be absent.
%p Thank you ..we appreciate your attention to this important detail.
