%p Davis Kids Klub would like to inform you your student did not check into DKK today.

%p ( Check-in times : 1230-1245pm M-Th       815-9 am Friday )

%p Please ignore this message if you reported the planned absence with the Program Coordinator.

%p Have a great day!

Davis Kids Klub Office
%br
530-220-4731
