%p Dear #{@account.primary_parent.full_name},

%p Your account has successfully been charged for your recurring payment plan. A receipt from our payment processor will also be sent to your registered email address. You can always see the details for all of your transactions #{link_to "here", account_dashboard_payments_url(@account)}. Don't forget to log in first! Please contact the DKK Office for any questions, comments, or concerns at daviskidsklub@aol.com . Thank you so much for being a part of the Davis Kids Klub!
