%br

%h1{style: "text-align: center; color: #00B050;"}
  %span Welcome to the
  %span
    = link_to (root_url), style: "color: #00B050; text-decoration: none;" do
      Davis Kids Klub
  %span (DKK)!

%hr

%p
  Thank you for registering with DKK. We have received your enrollment. Please make sure your child’s account is kept updated and current (grade level, contact information, etc.), and remember to check your email regularly for information and updates from Davis Kids Klub.

%p
  We look forward to having your student join us, and we appreciate you choosing Davis Kids Klub.
