%div{style: "text-align: center;"}= image_tag "logo.png"
%br

%h1{style: "text-align: center;"} Welcome to Summer Recreation Camp 2018
%h2{style: "text-align: center;"} @ North Davis Elementary School MPR
%h2{style: "text-align: center;"} 555 E. 14th St Davis, CA (next to the Davis Public Library)
%h2{style: "text-align: center;"} Hours: 8am-6:15pm
%hr

%h1 Camp Details
%h3 Camp is located at the Multi-Purpose room at North Davis Elementary, with a driveway up to the door for convenient, quick drop-offs!
%h3{style: "color: #00B050;"} For emergencies and absences, the Site Phone Number is (530) 219-6156

%h4 Campers will experience fun-filled days including:
%ul
  %li STEAM, Art and building projects
  %li Outdoor sports and fitness games
  %li Chrome Book DJUSD math and language arts programs
  %li Daily visits to the Davis Public Library for the Summer Reading Program
  %li Weekly Educational Themes & Field Trips
  %li Swimming at Community Pool
  %li Optional enrichment classes *(Yoga, cooking, Chess, Spanish, Baking, Theatre arts, music)
  %li Enrichment activities such as scavenger hunts, bike rides, robotics demos, science classes.
  %li A sample summer day is on the following page.
  %li A cool tie-dye shirt to wear on field trip days

%h4 Campers are asked to bring:
%ul
  %li Swim suit and towel
  %li Picnic lunch and 3 snacks
  %li Backpack for belongings
  %li Water bottle (we supply bottled water for refills)
  %li Davis Public Library card

%h4 NOTE: Camp is closed Wednesday July 4th

"All Summer Payment Plans" may be available ... contact the office for details (#{mail_to "daviskidslub@aol.com"})
%br
* optional enrichment classes have extra fees involved
%br
DJUSD Employees please contact the DKK Office for 15% off discount on fees

%h1 Summer Camp Tentative Daily Schedule

%table{style: "border: 1px solid black; padding: 10px; border-spacing: 0; border-collapse: collapse;"}
  %thead
    %th{style: "border: 1px solid black; padding: 10px;"} Time
    %th{style: "border: 1px solid black; padding: 10px;"} Activity
  %tbody
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 8:00 to 9:00
      %td{style: "border: 1px solid black; padding: 10px;"} Welcome. Organized games and daily theme coloring
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 9:00 to 9:30
      %td{style: "border: 1px solid black; padding: 10px;"} Art/building projects
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 9:30 to 10:00
      %td{style: "border: 1px solid black; padding: 10px;"} Snack
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 10:00 to 10:30
      %td{style: "border: 1px solid black; padding: 10px;"} Daily theme art project
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 10:30 to 11:15
      %td{style: "border: 1px solid black; padding: 10px;"} Outside sports and fitness games
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 11:15 to 11:35
      %td{style: "border: 1px solid black; padding: 10px;"} Lunch
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 11:35 to 12:00
      %td{style: "border: 1px solid black; padding: 10px;"} Get ready and walk to the pool
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 12:00 to 1:00
      %td{style: "border: 1px solid black; padding: 10px;"} Water games and swim at the community pool
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 1:00 to 1:45
      %td{style: "border: 1px solid black; padding: 10px;"} Math and Language Arts computer time
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 1:45 to 2:00
      %td{style: "border: 1px solid black; padding: 10px;"} Afternoon snack
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 2:00 to 2:10
      %td{style: "border: 1px solid black; padding: 10px;"} Walk to the library
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 2:10 to 3:00
      %td{style: "border: 1px solid black; padding: 10px;"} Library time
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 3:00 to 3:45
      %td{style: "border: 1px solid black; padding: 10px;"} Outside free time
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 3:45 to 4:00
      %td{style: "border: 1px solid black; padding: 10px;"} Late afternoon snack
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 4:00 to 5:00
      %td{style: "border: 1px solid black; padding: 10px;"} Daily themed activity
    %tr
      %td{style: "border: 1px solid black; padding: 10px;"} 5:00 to 6:00
      %td{style: "border: 1px solid black; padding: 10px;"} Creative activities and board games

%br
*** Weekly Field Trips around Davis
%br
*** Weekly Educational Themes with STEAM. Art and Science
%br
*** Daily Library Reading Program and Chromebook Math & Language Arts
%br
%h4 Please contact the DKK Office for any questions, comments, or concerns at daviskidsklub@aol.com
%h3 Thank you for joining DKK Summer Camp 2018!!!
