.text-center
  = image_tag ("logo.png")
%br
%h1
  Welcome to the 
  = link_to ("http://daviskidsklub.com")
    Davis Kids Klub
  After-school Recreation Program
%p We open on the first day of school, Wednesday August 23 @ 1:30 pm and are open each school day immediately after school.  Please arrive before 6pm to pick-up your student. 
%p Drop-ins days are welcome &mdash; please sign-up at our website the night before by 9pm.
%p School Days off we offer Camp Days…  Camps will be announced via e-mail one month ahead. Parents can sign-up for Camp days at our web site. 
    
%p Students meet after-school at the following locations:
%ul
  %li Birch : MPR
  %li Patwin:  MPR
  %li MME:  TBA
  %li Pioneer: MPR
  %li Korematsu:  TBA
  %li NDE:   Room M48
  %li Willett: Room E23

%p Day 1: Directors will introduce themselves and sign-in the students. Snack will be served @4pm to include granola bars, fruit and vegetables.  Students are welcome to open their own lunch pails at snack time.

%p Please take a few minutes (at pick-up time)  to meet your Director and pick up an information sheet for your site.  An emergency phone number will be provided.
