%h1.text-center Davis Kids Klub Summer Recreation Camp
%h3.text-center{style: "color: #0070C0;"} Located at North Davis Elementary School in the MPR
%h3.text-center{style: "color: #0070C0;"} 555 E. 14th St Davis, CA (next to the Davis Public Library)
%br
%h3.text-center{style: "color: #0070C0;"} Dates: June 17th - August 9th
%p.text-center{style: "color: #0070C0; font-weight: bold;"} Camp days may be extended on August 12th - 16th, depending on interest
%h3.text-center{style: "color: #0070C0;"} Hours: 8:00 am - 6:00 pm
%p.text-center{style: "color: red; font-weight: bold;"} *Camp will be closed July 4th - 5th*

%h3{style: "text-decoration: underline;"} CONTACT US:
%p{style: "background-color: yellow; font-weight: bold;"} Camp Site Phone Number: (530) 219-6156
%p{style: "color: red; font-weight: bold;"} *Please use this number in the case of emergency, to report absences. Please share with others that will be picking up your student.

%br
%p{style: "font-weight: bold;"} DKK Office Phone Number: (530) 220-4731/Fax: 530-758-9262
%p{style: "font-weight: bold;"} DKK Office Email: #{mail_to "daviskidsklub@aol.com"}
%p{style: "font-weight: bold;"}*Please use this contact information for any general questions, comments, or concerns about the program.

%hr

%p{style: "font-weight: bold; color: #0070C0;"} Welcome to Davis Kids Klub (DKK) Summer Recreation Camp!  We are excited to have your child(ren), and we are looking forward to a fun-filled summer.

%h3{style: "text-decoration: underline; font-weight: bold;"} WHAT TO EXPECT WHILE AT DKK CAMP

%p Campers will experience:

%ul
  %li STEAM, Art and building projects
  %li Outdoor sports and fitness games
  %li Chrome Academy (DJUSD) math and language arts programs on computers
  %li Daily visits to the Davis Public Library for the Summer Reading Program
  %li Weekly Educational Themes & Outings
  %li Enrichment activities
  %li A DKK shirt (please wear it on field trip days!!)

%h3{style: "text-decoration: underline; font-weight: bold;"} DAILY CHECKLIST FOR YOUR CAMPER

%ul
  %li Backpack to hold all student’s belongings
  %li Pack a separate swim bag with a towel, goggles, and clothes to change into
  %li Bring 3 snacks and a lunch
  %li Sunscreen (DKK staff is not allowed to help students with sunscreen)
  %li Bring a sunhat/hat
  %li Closed-toe shoes for walking on field trip days
  %li Bring a water bottle (we will have refill water)
  %li Davis Public Library Card (or application)

%h3{style: "text-decoration: underline; font-weight: bold;"} DAILY SCHEDULE

%table
  %thead
    %th Time
    %th Activity
  %tbody
    %tr
      %td 8:00 to 9:00
      %td Welcome. Organized games and daily theme coloring
    %tr
      %td 9:00 to 9:30
      %td Art/building projects
    %tr
      %td 9:30 to 10:00
      %td Snack
    %tr
      %td 10:00 to 10:30
      %td Daily theme art project
    %tr
      %td 10:30 to 11:15
      %td Outside sports and fitness games
    %tr
      %td 11:15 to 11:35
      %td Lunch
    %tr
      %td 11:35 to 12:00
      %td Get ready for swimming at Community Pool
    %tr
      %td 12:00 to 1:00
      %td Davis Community Pool
    %tr
      %td 1:00 to 1:45
      %td Indoor Free Time
    %tr
      %td 1:45 to 2:00
      %td Afternoon snack
    %tr
      %td 2:00 to 2:10
      %td Walk to the library
    %tr
      %td 2:10 to 3:00
      %td Library time
    %tr
      %td 3:00 to 3:45
      %td Math and Language Arts computer time
    %tr
      %td 3:45 to 4:00
      %td Late afternoon snack
    %tr
      %td 4:00 to 5:00
      %td Daily themed activity
    %tr
      %td 5:00 to 6:00
      %td Creative activities, board games, and goodbyes

%h3{style: "text-decoration: underline; font-weight: bold;"} IMPORTANT THINGS TO KEEP IN MIND

%p
  %span{style: "text-decoration: underline; font-weight: bold;"} Check-in/Check-out:
  %span{style: "text-decoration: underline; font-weight: bold; color: #00FF00;"} NEW!!!
  DKK staff will be checking IDs during drop-off and pick-up!

%p{style: "color: #0070C0;"}
  Please call our campsite phone number
  %span{style: "text-decoration: underline; font-weight: bold; color: red;"} (530) 219-6156
  to notify the camp director if anyone other than yourself is picking up or dropping off your student, and remind them that staff will be checking IDs

%p
  %span{style: "text-decoration: underline;"} Signups before 6 p.m. the day before service is requested:
  Please be aware that important information is sent out to parents about the upcoming day by 6:00 p.m. the night before. If you choose to sign up your student after 6:00 p.m., you may not receive the e-mails about the following day until noon of the day your child attends.

%p DKK will send information including a change of location, change of services, and/or special activities scheduled for the day of your sign up.

%p
  %span{style: "color: red;"} Parents are required to check-in your student in person at the summer campsite to receive important information every day.
  It is critical that you speak directly to the Head Camp Director to receive updated details about your student’s well-being and participation at camp for that day. Camp Directors are not responsible for calling parents.

%p
  %span{style: "text-decoration: underline; font-weight: bold;"} Snacks/Lunch:
  %span{style: "font-weight: bold; color: red;"}
    DKK does
    %span{style: "text-decoration: underline;"} not
    provide snacks or lunches.
  Campers are responsible for providing their own food.  Our snack times are 9:30, 1:45, and 3:45, and lunch is at 11:15. Each camper should bring
  %span{style: "color: red;"} 3 separate snacks
  (we recommend snack bars, graham crackers, fruits and/or veggies) and a
  %span{style: "color: red;"} sack lunch
  (a sandwich/main course/protein, fruits, and vegetables)
  %span{style: "font-weight: bold;"} every day.

%p{style: "color: #0070C0;"} If your student has a peanut allergy please let the director know on the first day!

%p
  %span{style: "text-decoration: underline; font-weight: bold;"} Electronics:
  Please read and sign the Chromebook Use Agreement (
  %span{style: "background-color: yellow;"} attached below
  ), so your student can participate in Math and Language Arts on our DJUSD computers.

%p Cell phone use by students while at camp is prohibited.  If your child has a cell phone, that device must stay in the camper’s backpack at all times. DKK is not responsible for cell phones/electronics brought to camp.

%p
  %span{style: "text-decoration: underline; font-weight: bold;"} Behavior Agreement:
  Campers are expected to follow the DJUSD Standard of Students Behavior Code. Please read and sign the Behavior Agreements (
  %span{style: "background-color: yellow;"} attached below
  ).

%p
  %span{style: "text-decoration: underline; font-weight: bold;"} Swimming:
  DKK campers will swim daily from 12:00 pm to 12:45 pm at the Community Pool (
  %span{style: "color: red;"} except on field trips days
  ). DART and DKK will be collaborating during swim time. Camp directors and lifeguards will go over the safety rules at the beginning of swim time. Lifeguards are watching both pools (shallow and deep) at all times.

%ul
  %li
    Students will take a swim test in the big pool with supervision of the lifeguards and coaches every week. They swim across the width of the big pool right at the edge, with a lifeguard ready to help as needed. If they pass the swim test, they are allowed to swim in the big pool, but DKK and DART staffs reserve the right to have them go back to the shallow pool for safety reasons and if needed to. Any campers who aren't quite ready for the big pool must stay in the shallow pool.  We rope off 2/3's of the shallow pool so that they are only in the shallow area where they can touch.
    %span{style: "color: red; font-weight: bold;"} Student may not bring additional flotation devices to the pool (ie. water wings, life vest, etc.)
  %li For the safety of your swimmer, please make sure that your swimmer can swim or at least stand on their feet in the shallow pool. We will not allow students that cannot swim enter the pool, but we will have other activities going on at the bleachers with our staff.

  %li
    Campers are welcome to rinse off using the outdoor or indoor showers at Davis Community Pool before changing. Please discuss with your swimmer about rinsing off in a timely manner. We also highly recommend students wear their swimsuits (under their clothes) to camp each day to avoid changing.  If that is not possible, campers can change into their swimming suits in the locker rooms when they arrive at the pool at 11:55 pm. After swimming at 12:45 pm, campers may change out of their swimsuits, but must be prompt.
    %span{style: "font-weight: bold;"} Please talk to your swimmer about prompt changing as we have many campers and a schedule to maintain.
    %span{style: "text-decoration: underline; font-weight: bold;"} No swimsuit changing will occur at North Davis/our site when we return.

  %li
    We leave the pool promptly at 1:00 pm and walk back to DKK at North Davis.
    %span{style: "color: #0070C0; font-weight: bold;"} If you are picking up at 1:00 pm, please be waiting at the pool gate so we can dismiss your student to you.
    If you are not present when we exit the pool at 1:00 pm, we will continue our walk back to North Davis. We will not wait for you and students cannot wait at the pool for parents after 1:00 pm.  Parents are subject to late pick-up charges at 1:00 pm. (see our waivers and agreements  contract for details).

%p
  %span{style: "text-decoration: underline; font-weight: bold;"} Davis Public Library:
  Campers will walk to the Davis Public Library every day, and are expected to follow DKK walking policy (
  %span{style: "background-color: yellow;"} attached below
  ).

%p
  Davis Library Reading Program requires students to have a library card.
  %span{style: "color: #0070C0; font-weight: bold;"} The Library Card
  application is
  %span{style: "background-color: yellow;"} attached
  = ". If your student already has one, no need to apply. Just send the card with your student each day. We have a goal to read 10 hours each month."
  %span{style: "color: red;"} Awards will be presented.
  Campers are responsible for their own
  %span{style: "color: red;"} library card
  and any books that they check-out from Davis Public Library and must return the books by their due date.
  %span{style: "font-weight: bold;"} DKK is not responsible for lost library care and books that student check-out from the library.

%h4{style: "text-decoration: underline; font-weight: bold;"} ATTACHED FORMS

%ul{style: "font-weight: bold;"}
  %li Library application
  %li Walking policy
  %li Behavior Agreement
  %li Chromebook Use Agreement

%p{style: "color: red;"} PLEASE E-MAIL ALL FORMS BACK TO US ASAP OR TURN INTO THE CAMP DIRECTOR ON THE FIRST DAY YOUR STUDENT ATTENDS.

%h1.text-center{style: "color: #0070C0;"} We appreciate you signing up your camper for a fun-filled summer with DKK!
