%br

%h1{style: "text-align: center; color: #00B050;"}
  %span Welcome to the
  %span
    = link_to (root_url), style: "color: #00B050; text-decoration: underline;" do
      Davis Kids Klub
  %span (DKK) Recreation Program!

%hr

%h2 Please Note:

%p
  Thank you for registering with Davis Kids Klub! We look forward to having your student join us.
%p
  We have received your enrollment. Please check your email regularly for information and updates from Davis Kids Klub.
%p
  Our welcome email will go out in late August with all the information you and your child will need to join us at Davis Kids Klub.

%p
  NOTE:   Monthly automated charges will be charged to you account the first of each month.

  %h2{style: "color: #00B050;"} We appreciate you choosing Davis Kids Klub. see you soon!
