%br

%h1{style: "text-align: center; color: #00B050;"}
  %span Welcome to the
  %span
    = link_to (root_url), style: "color: #00B050; text-decoration: none;" do
      Davis Kids Klub
  %span After-school Recreation Program

%h1{style: "text-align: center; color: #00B050;"} August 29, 2018 - June 12, 2019

%h1{style: "text-align: center; color: #00B050;"} We appreciate you choosing DKK for your after-school program

%hr

%h3 Please Note:

%p
  %strong{style: "text-decoration: underline;"} Sign ups before 6 p.m. the day before service is requested:
  Please be aware that important information is sent out to parents about the upcoming day by 6 p.m. the night before. If you choose to sign up your student after 6 p.m., you may not receive the e-mails about the following day until noon of the day your child attends. This information may include change of location, change of services, and/or special activities scheduled for the day of your sign up. Please feel free to call our office 10 a.m. - 1 p.m. to check on details of your drop-in day. (530) 220-4731.

%p{style: "color: red; font-weight: bold;"} Thank you for your role in communicating with our staff on behalf of your child. Phone calls to the office are welcome between the hours of 10 a.m. and 5 p.m., Monday through Friday at (530) 220-4731.

%p
  %span{style: "text-decoration: underline;"} Davis Kids Klub Hours:
  %span MTThF 2:35-6, W 1:30-6. Please arrive before 6pm to pick-up your student.

%p
  %span{style: "text-decoration: underline;"} Conference weeks
  %span we are open each day at 1:30pm.

%p
  %span{style: "text-decoration: underline;"} Drop-ins days are welcome
  %span ... please sign-up at our web-site the night before by 9pm.

%p
  %span{style: "text-decoration: underline;"} School Days off we offer Camp Days
  %span ... Camps will be announced via e-mail one month ahead.

%p Parents can sign-up for Camp days at our web site.

%hr

%h3 Students meet after-school at the following locations:

%ul
  %li Birch: MPR 530-304-4732
  %li Patwin: MPR 530-304-3548
  %li MME: MPR 530-304-3544
  %li Pioneer: MPR 530-220-4736
  %li Korematsu: MPR 530-402-3416
  %li NDE: Room M48 530-219-6156
  %li Willett: Room E23 530-220-4735
  %li CCE: TBA

%hr

%h4{style: "color: #7030a0;"} Please take a few minutes (at pick-up time) to meet your Director and pick up an information sheet for your site.

%hr

%p Snack will be served @4pm to include graham crackers, fruit and vegetables.
%p Students are welcome to open their own lunch pails at snack time.

%hr

%h2{style: "color: #00b050;"} Thanks ... we appreciate you joining Davis Kids Klub ... see you soon!
