%div{style: "text-align: center;"}= image_tag ("logo.png")
%br

%h1{style: "text-align: center; color: #00B050;"}
  %span Welcome to the
  %span
    = link_to (root_url), style: "color: #00B050; text-decoration: none;" do
      Davis Kids Klub
  %span After-school Recreation Program

%h1{style: "text-align: center; color: #00B050;"} August 29, 2018 - June 12, 2019

%h1{style: "text-align: center; color: #00B050;"} We appreciate you choosing DKK for your after-school program

%hr

%h3 Please Note:

%p
  %span{style: "text-decoration: underline;"} Davis Kids Klub Hours:
  %span MTThF 2:35-6, W 1:30-6. Please arrive before 6pm to pick-up your student.

%p
  %span{style: "text-decoration: underline;"} Conference weeks
  %span we are open each day at 1:30pm.

%p
  %span{style: "text-decoration: underline;"} Drop-ins days are welcome
  %span ... please sign-up at our web-site the night before by 9pm.

%p
  %span{style: "text-decoration: underline;"} School Days off we offer Camp Days
  %span ... Camps will be announced via e-mail one month ahead.

%p Parents can sign-up for Camp days at our web site.

%hr

%h3 Students meet after-school at the following locations:

%ul
  %li Birch: MPR 530-304-4732
  %li Patwin: MPR 530-304-3548
  %li MME: MPR 530-304-3544
  %li Pioneer: MPR 530-220-4736
  %li Korematsu: MPR 530-402-3416
  %li NDE: Room M48 530-219-6156
  %li Willett: Room E23 530-220-4735
  %li CCE: TBA

%hr

%h4 Please take a few minutes (at pick-up time) to meet your Director and pick up an information sheet for your site.

%hr

%p Snack will be served @4pm to include graham crackers, fruit and vegetables.
%p Students are welcome to open their own lunch pails at snack time.

%hr

%h2{style: "color: #7050C7;"} Thanks ... we appreciate you joining Davis Kids Klub ... see you soon!
