%h3 Hello DKK Summer Camp Families,

%p We are excited to have you all join us for this year's summer camp!

%h4{style: "text-decoration: underline;"} Important Camp Details:
%p
  %span{style: "font-weight: bold;"} First day of camp:
  %span{style: "color: #0070C0;"} June 17th

%p
  %span{style: "font-weight: bold;"} Location:
  %span{style: "color: #0070C0;"} North Davis Elementary MPR (555 E 14th St, Davis, CA 95616). The MPR is located in the front of school, close to the Yolo County Library parking lot.

%p{style: "color: red;"} Look for our yellow flag by the blue picnic tables

%hr

%p
  %span Below we have listed some of the most important details about our camp.
  %span{style: "font-weight: bold; color: red;"} Please take a moment to review these details, and then make sure to open the attachment to read more about Summer Camp 2019!

%ol
  %li
    %p
      %span Camp will open daily at
      %span{style: "color: #0070C0;"} 8:00 am.
      %span We will not open our doors earlier than 8:00 am. We close our doors promptly at
      %span{style: "color: #0070C0;"} 6:00 pm
      %span daily.

  %li
    %p
      %span Please make sure your student brings a
      %span{style: "color: #0070C0;"} re-useable water bottle
      %span to camp every day labeled clearly with his/her name.

  %li
    %p
      %span Our first field trip will be to the
      %span{style: "color: #0070C0;"} Pence Gallery
      %span in Downtown Davis on
      %span{style: "color: #0070C0;"} Thursday, June 20th from
      %span{style: "color: #0070C0; font-weight: bold;"} 9:30 am-11:00 am.

    %ul
      %li
        %p Please make sure your student wears appropriate walking shoes and a hat that day.
      %li
        %p We will be giving out t-shirts to students on the first day of camp. Please have your student wear his/her DKK Summer shirt for the field trip.

  %li
    %p{style: "color: red;"} Please make sure your student brings snacks/lunch for camp. DKK does not provide food for students.

    %ul
      %li
        Meals/snack times are:

        %ul
          %li First snack: 9:30-9:50
          %li Lunch: 11:15:11:35
          %li Second snack: 1:45-2:00
          %li Last snack: 3:45-4:00

      %li
        %p If your student does not have snacks/lunch, you will be called to bring your student food.

  %li
    %p{style: "color: red;"} Each day your student should bring a bag/backpack with his/her swimsuit, towel, and goggles.

%p{style: "color: #0070C0;"} We are looking forward to a fun-filled summer with your student(s).

%br
%p{style: "font-weight: bold;"} DKK Office Phone Number: (530) 220-4731/Fax: 530-758-9262
%p{style: "font-weight: bold;"} DKK Office Email: #{mail_to "daviskidsklub@aol.com"}
%p{style: "font-weight: bold;"}*Please use this contact information for any general questions, comments, or concerns about the program.
