%ul.nav.nav-pills.nav-pills-rose.nav-stacked
  %li
    = link_to "Add Drop In", root_path
    = link_to "Manage Enrollments", root_path
    = link_to "Edit Email/Password", edit_user_registration_path
