%ul.nav.nav-pills.nav-pills-rose.nav-stacked
  %li
    = link_to "Account Home", account_dashboard_path(@account)
    = link_to "Drop Ins", my_dropins_account_dashboard_path(@account)
    = link_to "Enrollments", root_path
    = link_to "Edit Email/Password", edit_user_registration_path
