.layout-row.centered
  %ul.nav.nav-pills.nav-pills-rose
    %li{ class: ((controller_name == "dashboards" && action_name == "show") || controller_name == "children")  ? "active" : "" }
      = link_to "Overview", account_dashboard_path(@account)
    -# %li{ class: (controller_name == "enrollments" && action_name == "new" && (@plan_type.to_s.blank? || @plan_type.to_s == "full_day_contract")) ? "active" : "" }
    -#   = link_to "Participate in Pioneer All Day Care", new_account_dashboard_enrollment_path(@account, plan_type: "full_day_contract", program_id: Program.where(program_type: "fall").first.id)
    %li{ class: (controller_name == "enrollments" && action_name == "new" && (@plan_type.to_s.blank? || @plan_type.to_s == "drop_in")) ? "active" : "" }
    %li{ class: (controller_name == "enrollments" && action_name == "edit")  ? "active" : "" }
      = link_to "Add/Change Fall Enrollments", edit_account_dashboard_enrollments_path(@account)
    %li{ class: (controller_name == "credit_cards") ? "active" : "" }
      = link_to "Manage Credit Card", account_dashboard_credit_card_path(@account)
    %li{ class: (controller_name == "payments") ? "active" : "" }
      = link_to "Payment History/Receipts", account_dashboard_payments_path(@account)

.cleaner
%br
