
.col-xs-12
  %h3 My Kids
  %br
- @account.children.each do |c|
  .col-md-4
    .card
      .card-content
        %h4.card-title
          = c.full_name
        .footer
          .author
            Born:
            = c.birthdate.stamp("November 27, 1983") if c.birthdate.present?
          .stats
            %i.material-icons edit
            = link_to 'Edit', edit_account_dashboard_child_path(@account, c)

.col-md-4
  .card
    .card-content
      .footer.text-center
        = link_to "Add Another Child", new_account_dashboard_child_path(@account), class: "btn btn-danger"
