.nested-fields
  .field
    = f.hidden_field :account_id, value: @account.id
    = f.hidden_field :program_id, value: @center.current_program.id

    = f.label :date
    = f.text_field :date, id: "flatpickr-input"

  .cleaner
