
.col-md-6.col-sm-8
  %h3
    My Drop-Ins
  %br
  %hr
  - if @account.drop_ins.any?
  
    - @account.drop_ins.where(paid: true).where("date >= ?", Time.zone.now).order(date: :asc).each_with_index do |d, index|
      =d.to_s
      / =link_to "X", account_dashboard_drop_ins_path(@account, drop_in_id: d.id), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-info"
      .cleaner
      %hr
        


  .text-center
    = link_to "+ Schedule a Drop-In", new_account_dashboard_drop_ins_path(@account), class: "btn btn-info btn-block"