
.col-md-6.col-sm-8
  %h3
    My Drop-Ins
  %br
  %hr
  - if @account.drop_ins.any?
    %ul
    - @account.drop_ins.where(paid: true).where("date >= ?", Time.zone.now).order(date: :asc).each_with_index do |d, index|
      %li=d.to_s
      .cleaner
      %hr



  .text-center
    = link_to "+ Schedule a Drop-In", new_account_dashboard_drop_ins_path(@account), class: "btn btn-info btn-block"
