<h1>Editing Children Registration</h1>

<%= render 'form', children_registration: @children_registration %>

<%= link_to 'Show', @children_registration %> |
<%= link_to 'Back', children_registrations_path %>
