.row
  .account-alert
    %h2 Behavior Agreement

    %p Please read through each item thoroughly. If you have any questions or need further clarification on any item, please contact the DKK Main Office (daviskidsklub@aol.com).

    %p Davis Kids Klub utilizes the DJUSD Standards of Student Behavior Code. The same expectations that are set during school, apply while attending DKK Summer Camp. A copy of these standards is available at summer camp for your review.

    %p If a child receives 3 behavior incident reports during summer camp, the child may be dropped from summer camp without a refund of fees.

    %h4 OUR EXPECTATIONS:
    %ul
      %li Our goal is for everyone to be happy, safe, and have fun.
      %li Cooperate with friends and recreation leaders.
      %li Be courteous and polite at all times.
      %li If a child (ren) has a concern, they should bring it to the attention of the DKK Summer Director or a recreation leader IMMEDIATELY.
      %li Be respectful.
      %li Play fair.
      %li Be helpful.
      %li Follow all safety rules.

    %h4 NOTE:
    %ol
      %li Time-outs will be issued if students do not follow expectations/rules.
      %li Incident/Accident Reports will be issued if any safety/expectation rules are broken, if any injuries occur or if time-outs are issued.
      %li Incident/Accident Reports are not sent home. Parents are welcome to take a picture of the report at pick up time. A full discussion is available with the %li Summer Director at that time.

.row
  .account-alert
    %h2 Financial Waiver

    %p Please read through each item thoroughly. If you have any questions or need further clarification on any item, please contact the DKK Main Office (daviskidsklub@aol.com).

    %h4 SUMMER CAMP FEES

    %ul
      %li Family Registration … $50
      %li All Day (8am-6pm) … $229
      %li Half Day AM (8am-1pm) … $125
      %li Half Day PM (1pm-6pm) … $125

    %h4 DAILY DROP-IN FEES
    %ul
      %li Full Day (8am-6pm) … $54
      %li Half Day AM or PM … $39

    %hr

    %h4 IMPORTANT PAYMENT INFORMATION
    %ol
      %li All payments are made online
      %li No reduction in fees for the July 4th Holiday.
      %li All fees are non-refundable and non-transferable once paid. This includes any absences due to student illness and vacation time.
      %li Payments for the upcoming week or drop-in days must be submitted by 8pm the night before your student is to attend. We are happy to accommodate last minute %li reservations; however there will be a $10 surcharge.

    %h4 LATE PICK-UP/EARLY DROP-OFF:
    %p
      When you are late to pick-up your child, the following charges apply: 1-15 minutes late $15 … 15-30 minutes late $30 … After 30 minutes $50 plus $1 for every minute after 30 minutes late. Children may be dropped from the program with no refund if the late pick-up/early drop-offs occur more than 3 (three) times. Invoices will be sent within 24 hours of the late pick-up/early drop-off must be paid for your student to return to summer camp the following day.

    %h4 CANCELLATION POLICY:
    %p Davis Kids Klub has the right to cancel a program due to low enrollment or unexpected problems.

    %p
      %strong Cancelled parent payments charges is $50

    %h4 FAMILY DISCOUNTS:
    %p Due to the low cost of Davis Kids Klub, no discounts are given for additional children.

    %h4 FEE SUBSIDY:
    %p If you wish to request a scholarship and are eligible for low income subsidy and qualify for DJUSD free/reduced lunch, please call the DKK Main Office to discuss scholarship/subsidy opportunities. (530-220-4731, daviskidsklub@aol.com)

    %p
      %strong DJUSD Employees are eligible for a discount of 15% off fees.

    %h4 RECEIPTS:
    %p Receipts are provided after each payment is made. Please print these receipts for your record. If you need a signature on your receipt, please scan/email the DKK Main Office and your receipt will be signed and returned within 3 business days. If you need an original signature, the Summer site director can sign your receipt at pick-up time.

    %h4 REDUCTION  IN ATTENDANCE DAYS
    %ul
      %li
        %p
          If you are making a change in days attending a $25 processing fee will apply.
          Please submit changes 14 days in advance to allow time for staffing changes.
          If changes are made with less than 14 days, a $39 processing fee may apply.

      %li Credit or refunds are not available for days students are absent.

      %li Davis Kids Klub has the ability to change any and all terms and conditions in this registration packet with 30 days notice. Notice will be e-mailed to the primary e-mail address you provide at the time of registration.

      %li The Davis Kids Klub tax id # is 03-0451515

.row
  .account-alert
    %h2 Parent/Guardian Contract

    %p Please read through each item thoroughly. If you have any questions or need further clarification on an item, please contact the DKK Main Office (daviskidsklub@aol.com).

    %p The Davis Kids Klub Parent/Guardian Contract is to ensure that parents understand their rights and responsibilities as they apply to their child(ren) attending the Summer Camp program.

    %p Additionally, this contract advises parents of the DKK program goals and guidelines. Please read through each item before signing.

    %p If you need to contact us, email us at daviskidsklub@aol.com or call 530-220-4731 between the hours of 10am and 4pm.

    %p Your DKK Site Director can be contacted during DKK hours. Summer Camp Phone Number is 530-219-6156.

    %p Summer Enrichment is offered daily and includes: math and language arts activities, DJUSD  approved Chromebook programs, visits to the Davis Library for the Summer Reading Incentive Program, art projects, STEAM projects, field trips, outdoor physical fitness/games, and swimming at Community Pool.

    %p Davis Kids Klub is a drop-in recreational style summer camp. It does not offer licensed care or supervision that a day care center provides. DKK camp days do offer structured educational activities.

    %p DKK Summer Camp is open June 11th-August 24th 8am-6pm.
    %p DKK Summer Camp is closed Wednesday, July 4th.

    %p Children attending the DKK Summer Camp are subject to the guidelines in the DJUSD standards of student behavior handbook. (https://www.djusd.net/schooldiscipline)

    %p DKK Summer Camp will play themed movies weekly. Movie ratings will be “G” or “PG” only. If you wish for your child to not watch the movies, please let your Summer Director know and alternate educational activities will be offered.

    %p Parents/Guardians are responsible for updating student’s personal information when it changes. (ie. Telephone numbers, e-mail address, authorized parties for pick-up). Changes can be submitted to daviskidsklub@aol.com.

    %p.red It is the parent’s responsibility to call/email (530-220-4731, daviskidsklub@aol.com) if their student will be absent from DKK Summer Camp.

    %p
      %strong.red DAVIS KIDS KLUB WILL NOT CALL PARENTS for absences.

    %p
      %strong.green The absent phone number is 530-219-6156.
      %strong.red Parents are responsible for sharing this number with all family members and caregivers of the student.

    %p
      %strong.red Absent phone calls and emails are the parent’s responsibility. DKK appreciates your call each day your student is absent by 8am.

    %p NOTE: Students are not allowed to use the DKK Site Phone Number to call or talk to parents.

    %p The Summer Director will make phone calls to parents in case of emergencies.

    %p Students are not allowed to have personal cell phones turned on during DKK Summer Camp. If a parent needs to reach the student or if the student needs to reach a parent (in case of an emergency), the Site Director will use the site phone to communicate.

.row
  .account-alert
    %h2 Liability/Medical Waiver

    %p Please read through each item thoroughly. If you have any questions or need further clarification on any item, please contact the DKK Main Office (daviskidsklub@aol.com).

    %p In consideration for myself and my minor children being permitted by Davis Kids Klub to participate in activities described in the Summer Program I hereby waive, release and discharge any and all claims and damages for personal injury, death, or property damage which I or my minor children may sustain or which may occur as a result of me or my minor children’s participation in these activities.

    %p
      %strong I understand and agree that:

    %ol
      %li This release is intended to discharge in advance Davis Kids Klub, its directors, employees and mentors from and against any and all liability, except for their sole negligence or intentional acts, connected in any way with the participation of myself or my minor children in activities;
      %li The described activity may be of a hazardous, strenuous, and/or physical nature;
      %li Participation in the described activity may occasionally result in injury, death or property damage;
      %li Knowing the risk involved, nevertheless I voluntarily request permission for myself or minor child to participate in the described activity;
      %li I hereby assume any and all risks of injury, death or property damage, and to release and hold harmless Davis Kids Klub, its directors, employees & mentors, except for their sole negligence or intentional acts;
      %li This waiver, release and assumption of risk is to be binding on the heirs and assigns;
      %li I will indemnify and to hold Davis Kids Klub harmless from any loss, liability, damage, cost or expense, including litigation, which they may incur as a result of any injury and/or property damage which myself or my minor children may sustain while participating in said activities;
      %li I will make good any loss or damage or cost Davis Kids Klub may have to pay if any litigation arises on account of any claim made by said minors or by anyone on said minor’s behalf;
      %li In the event that said minor requires medical or surgical treatment while under the supervision of said Davis Kids Klub personnel in connection with the described activity, such supervisor may authorize treatment;
      %li I will pay all medical, hospital, or other expense which I or my minor children may incur as a result of such treatment;
      %li I expressly permit said minor child to travel by public transportation to activities and events related to the described activity.
      %li Activities are not child care as defined by the State of California.
      %li I hereby give permission for my child(ren) to participate in any field trip Davis Kids Klub plans unless otherwise expressed to my child(ren)’s Site Director or the Davis Kids Klub main office. I understand that Davis Kids Klub will attempt to notify all families of any field trips in advance but this is not required. I understand that most field trips will not require public or private transportation but give permission for my child(ren) to use necessary transportation at Site Director’s discretion. In consideration of the advantages of these field trips; I agree to release, indemnify, and hold harmless the Davis Kids Klub program and its employees from liability for bodily injury or property damage that might occur during these trips.
      %li Davis Kids Klub is not responsible for children following the dismissal of a program.
      %li I certify that I have custody or am the legal guardian of said minors by court order, and that I and my minor children are physically able to participate in the described activities.
