.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
  %h3 Payment

  %h5
    Your total:
    %strong
      #{PlanSummarizer.new(@account).total!}

  %br.cleaner


  = form_tag account_checkout_path(@account), id: "payment-form" do |form|
    .form-group.label-floating
      %label{:for => "card-element", class: "control-label"}
        Credit or Debit Card
      #card-element.form-control
        / a Stripe Element will be inserted here.
      / Used to display Element errors
      #card-errors{:role => "alert"}
    .credit-cards
      = image_tag ("credit-cards.png")
    = submit_tag "Pay & Finish Registration", class: "btn btn-info pull-right"
