- if !current_user.legacy?
  %h2 Drop-In Payment
  .well
    Your total: #{PlanSummarizer.new(@account).total!}
- else
  %h2 Store Payment Method For AutoPay
  .well
    Your card will not be re-charged for the drop-ins you have already purchased.


= form_tag account_payments_path, id: "payment-form" do |form|
  .form-row
    %label{:for => "card-element"}
      Credit or debit card
    #card-element.form-control
      / a Stripe Element will be inserted here.
    / Used to display Element errors
    #card-errors{:role => "alert"}
  - button_text = current_user.legacy? ? "Store Card For AutoPay" : "Pay & Finish Registration"
  = submit_tag button_text, class: "btn btn-lg"
