.col-md-10.col-md-offset-1
  %h3.text-center
    Staff

  - if @staff.any?
    .row
      .table-responsive
        %table.table
          %thead
            %tr
              %th Name
              %th Email
              %th Location
              %th Date Created
              %th Actions
          %tbody
            - @staff.each do |s|
              %tr
                %td=s.user.full_name
                %td=s.user.email
                %td=s.locations.collect {|l| l.name }.to_sentence
                %td=s.created_at.stamp("Monday November 5, 2017")
                %td=link_to "Edit", edit_staff_staff_path(s), class: "btn btn-xs"


- if @staff.any?

  .table-responsive
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th Location
          %th Date Created
      %tbody
        - @staff.each do |s|
          %tr
            %td=s.user.full_name
            %td=s.user.email
            %td=s.locations.collect {|l| l.name }.to_sentence
            %td=s.created_at.stamp("Monday November 5, 2017")

  .text-center
    = paginate @staff
