#location-switcher
= form_tag children_attendance_display_index_path, method: :get do
  = select_tag "child-location-switcher", options_from_collection_for_select(@center.locations, 'id', 'name', @location.try(:id)),
    { class: "location-switcher" }

#time-entry-message

#time-entries
  %ul
    - @location.children.each do |c|
      %li= c.full_name
      .togglebutton
        %label
          = check_box_tag :on_clock, true, true, :data => {:remote => true, :url => url_for( controller: "/time_entries", :action => 'create', params: {"time_entry[location_id]" => "1", "time_entry[time_recordable_id]" => c.id, "time_entry[time_recordable_type]" => "Child"}), :method => :post}, :class => 'input-large'

