#form-errors
  - if object.errors.any?
    .row
      .col-xs-12
        .hidden #{pluralize(object.errors.count, "error")} encountered:
        .danger
          %ul
            - object.errors.full_messages.each do |msg|
              %li= msg
